html {
    color: $sub-light;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $bg-dark;
    min-height: 95vh;
    overflow-y: visible;
    overflow-x: hidden;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.slick-dots {
    display: none !important;
}