html {
    color: $sub-light;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $bg-dark;
}

h4 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
