html {
    color: $sub-light;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $bg-dark;
    min-height: 95vh;
    overflow-y: hidden;
}

h4 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
