@import "../abstracts/_variables";

.card {
    display: flex;
    flex-direction: column;
    max-width: 23rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.image {
    object-fit: cover;
    height: 16rem;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.textPart {
    background: $bg-light;
    padding: 0 0.7rem 0.7rem;
    border-radius: 0 0 5px 5px;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.duration {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
        padding-bottom: 2px;
    }
}

.icon {
    width: 0.7rem;
}
