@import "../abstracts/_variables.scss";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: $bg-light;
    color: $sub-light;
    p{
      padding: 10px 5px;
    }
    span {
      color: $accent-primary;    
    }
}
