@import "../abstracts/_variables.scss";

.iconBtn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.circle {
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
}

.primary {
    background-color: $accent-primary;
}

.secondary {
    background-color: $accent-secondary;
}
