@import "../abstracts/_variables.scss";

.iconBtn {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        opacity: 80%;
    }
}

.circle {
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
}

.primary {
    border: none;
    outline: none;
    background-color: $accent-primary;
}

.secondary {
    border: none;
    outline: none;
    background-color: $accent-secondary;
}

.active {
    border: none;
    outline: none;
    background-color: $fg-white;
    path {
      fill: $accent-primary !important;
    }
}
