@import "../abstracts/_variables.scss";

.form {
    border: 1px solid #212b54;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 4rem;
    gap: 1rem;

    .input {
        font-size: 1rem;
    }

    .textContainer {
        text-align: center;

        h3 {
            margin: 0;
            font-size: 1.8rem;
        }

        a {
            color: $accent-secondary;
        }
    }

    .submit {
        margin-top: 1rem;
    }

    .error {
        color: #f05b56;
    }
}
