@import "../abstracts/_variables.scss";

.navbar {
  z-index: 9999;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 120px;
  color: $fg-light;
  background-color: $bg-dark;
  button {
    height: 42px !important;
    width: 160px;
  }
}

.navitem {
  display: flex;
  justify-content: center;
  width: 33.33%;
  &:hover{
    cursor: pointer;
  }
}

.navlinks {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 0px 90px;
  font-weight: 500;
}

.link {
  color: white !important;
  text-decoration: none !important;
  &:hover{
    cursor: pointer;
  }
}

