@import "../abstracts/_variables.scss";

.navbar {
    padding: 0rem 1rem;
    z-index: 9999;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 120px;
    color: $fg-light;
    background-color: $bg-dark;
    @media screen and (max-width: 1200px) {
        justify-content: space-around;
    }
    @media screen and (max-width: 700px) {
        height: 90px;
    }
}

.navlogo {
    display: flex;
    justify-content: space-around;
    width: 33.33333%;
    &:hover {
        cursor: pointer;
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
        justify-content: flex-start;
    }
}

.navitem {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}

.navlinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
    }
}

.link {
    color: white;
    text-decoration: none !important;
    transition: all 0.2s;
    &:hover {
        color: $fg-medium;
        cursor: pointer;
    }
}

.navbuttons {
    margin-left: 1rem;
    button {
        height: 42px !important;
        width: 160px;
    }
}

.navhamburger {
    display: none;
    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        button {
            background-color: transparent;
            border-color: transparent;
        }
    }
}

.drawer {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
}

.drawerContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-dark;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    opacity: 98%;
    text-align: center;
    button {
        margin-bottom: 0.5rem;
    }
}
