@import "../abstracts/_variables.scss";

.rangeInput {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.numberInput {
    border-radius: 4px;
    background: $fg-dark;
    color: #fff;
    text-align: center;
    padding: 0.6rem 0.2rem;
    width: 4.4rem;
    appearance: none;
    border: none;
    outline: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
    &::-webkit-input-placeholder {
        color: $fg-icon;
    }
    &:-moz-placeholder {
        color: $fg-icon;
    }
}
