.container {
    max-width: 60%;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.meta {
    text-align: center;
    margin-bottom: 3rem;
}

.iconText {
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.articleImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.crumbs {
    margin-bottom: 2rem;
}
