.blogContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 3rem auto;
    padding: 0 1.5rem;
}

.fibGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    width: 100%;
    height: 100%;
}

.articleGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.link {
    text-decoration: none;
    color: inherit;
}

.title {
    margin-bottom: 0;
}
