.blogContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0 1.5rem;
}

.fibGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-fill-mode: both;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    width: 100%;
    height: 100%;
}

.articleGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
    animation-name: fadeInBottom;
    animation-duration: 1s;
    animation-fill-mode: both;
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 2rem;
    margin-bottom: 0;
}
