@import "~rfs/scss";

.page {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.formContainer {
    width: 100%;
}

.img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem;
    @media screen and (max-width: 850px) {
        display: none;
    }
}

.title {
    @include font-size(4rem);
    font-weight: 700;
    margin: 0;
}

.subtitle {
    @include font-size(1.3rem);
    font-weight: 500;
    margin: 0.5rem 0;
}

.form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.name {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
    gap: 2rem;
}

.firstname,
.lastname,
.email,
.textarea,
.phone {
    width: 100%;
    margin-top: 0.2rem;
    @include font-size(0.95rem);
}

.textarea {
    resize: none;
}

.btn {
    width: 10rem;
}

.label {
    font-weight: 500;
}

.crumbs {
    margin-bottom: 1rem;
}
