@import "../abstracts/_variables.scss";
@import "~rfs/scss";

.bottomLanding {
    background-color: #111938;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.subtitle {
    font-weight: 600;
    @include font-size(2rem);
    text-align: center;
}

.books,
.genre {
    margin-bottom: 6rem;
}

.none {
    font-size: 2.5rem;
    margin-top: 4rem;
    text-align: center;
}
